body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "press start 2P", "consolas", sans-serif;
}

p {
  color: aquamarine;
  font-family: "consolas", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: cyan dashed underline;
  font-size: 18px;
}

#p1 {
  color: darkgoldenrod;
}

#p2 {
  color: orange;
}

#p3 {
  color: darkmagenta;
}

h1 {
  border-top-style: dashed;
  border-bottom-style: dotted;
  border-top-color: darkblue;
  border-top-width: 5px;
  border-bottom-width: 2px;
  padding-top: 10px;
}

p {
  border-style: inset;
  border-width: 4px;
  border-color: gold;
  border-radius: 15px;
  padding: 5px;
}

h1 {
  background: linear-gradient(to left, cyan, lightgreen);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
}

.odd {
  background: linear-gradient(to right, cyan, lightgreen);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
}

.even {
  background: linear-gradient(to left, cyan, lightgreen);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
}
