body {
  background-color: black;
}

h1 {
  color: white;
}

p {
  background-color: rgb(21, 21, 21);
  color: aquamarine;
}

#p1 {
  color: pink;
}

#p2 {
  color: orange;
}

#p3 {
  color: bisque;
}

.odd {
  background-color: grey;
}

.even {
  background-color: brown;
}
