body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "press start 2P", "consolas", sans-serif;
}

p {
  background-color: rgb(21, 21, 21);
  color: aquamarine;
  font-family: "consolas", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: cyan dashed underline;
  font-size: 18px;
}

#p1 {
  color: pink;
}

#p2 {
  color: orange;
}

#p3 {
  color: bisque;
}

.odd {
  background-color: grey;
}

.even {
  background-color: brown;
}
