body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "press start 2P", "consolas", sans-serif;
}

p {
  color: aquamarine;
  font-family: "consolas", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: cyan dashed underline;
  font-size: 18px;
}

#p1 {
  color: darkgoldenrod;
}

#p2 {
  color: orange;
}

#p3 {
  color: darkmagenta;
}

h1 {
  border-top-style: dashed;
  border-bottom-style: dotted;
  border-top-color: darkblue;
  border-top-width: 5px;
  border-bottom-width: 2px;
  padding-top: 10px;
}

p {
  border-style: inset;
  border-width: 4px;
  border-color: gold;
  border-radius: 15px;
  padding: 5px;
}

h1 {
  background: linear-gradient(to left, cyan, lightgreen);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
}

.odd {
  background: linear-gradient(to right, cyan, lightgreen);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
}

.even {
  background: linear-gradient(to left, cyan, lightgreen);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
}

body {
  background-image: url(download.jpeg);
  background-repeat: no-repeat; /*doesnot repeat color gradiant as we scroll*/
  background-attachment: fixed; /*stretches background gradiant*/
  background-position: center;
  background-size: cover;
}

body {
  border: 2px solid;
  margin: 0px;
}

/* float = positions an element to left or right side of container  */

.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  font-size: 20px;
  text-align: center;
  background: cyan;

  float: left;
}

p {
  clear: left;
}

#box1 {
  height: 300px;
  width: 300px;
  position: relative;
  top: 5px;
  bottom: 5px;
  left: 5px;
}
#box2 {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  position: sticky;
  top: 100px;
  bottom: 100px;
}
